<h1>Home</h1>
<p>Welcome mobile developers!</p>
<p></p><%= "We have #{@products.count} in list" %></p>
<%= link_to 'Products', products_path %>
<p></p><%= "Also we have #{@categories.count} in list" %></p>
<%= link_to 'Categories', categories_path %>